<nav class="navbar shadow-sm fixed-top" style="background-color: #ffb6c1;">
  <div class="container-fluid d-flex align-items-center">
    <div class="d-flex align-items-center">
      <a class="navbar-brand d-flex align-items-center fw-bold" routerLink="/home" style="color: #000;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000" class="bi bi-journal-richtext me-2" viewBox="0 0 16 16">
          <path d="M7.5 3.75a.75.75 0 0 1 .75-.75h2.25a.75.75 0 0 1 0 1.5H8.25a.75.75 0 0 1-.75-.75Zm0 3a.75.75 0 0 1 .75-.75h2.25a.75.75 0 0 1 0 1.5H8.25a.75.75 0 0 1-.75-.75Zm0 3a.75.75 0 0 1 .75-.75h2.25a.75.75 0 0 1 0 1.5H8.25a.75.75 0 0 1-.75-.75Z"/>
          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-12a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z"/>
        </svg>
        Contac.tho
      </a>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" routerLink="/home" style="color: #000;">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/cadastro" style="color: #000;">Cadastrar contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contatos" style="color: #000;">Contatos</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<div style="padding-top: 56px;"></div>